.icon-1{background: url('../images/sprite.png') no-repeat 0px 0px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-2{background: url('../images/sprite.png') no-repeat -553px 0px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-3{background: url('../images/sprite.png') no-repeat -1106px 0px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-4{background: url('../images/sprite.png') no-repeat 0px -715px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-5{background: url('../images/sprite.png') no-repeat -553px -715px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-6{background: url('../images/sprite.png') no-repeat -1106px -715px;background-size: 2210px 1428px;width: 551px;height: 713px;}
.icon-7{background: url('../images/sprite.png') no-repeat -1659px 0px;background-size: 2210px 1428px;width: 551px;height: 713px;}
